.Navbar {
  background-image: url('/Assets/Images/starNavbar.jpg');
  background-repeat: no-repeat;
  .navElements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    margin-left: 1em;
    margin-right: 1em;
    .logo {
      font-family: $logoTypo;
      font-size: 2em;
    }
    .articleCat {
      display: flex;
      li p {
        padding-left: 30px;
        font-size: 1.5em;
        color: map-get($colores, navLetter);
        transition: 0.5s;
        &:hover {
          color: map-get($colores, navHover);
        }
      }
    }
    #registerList {
      display: flex;
      padding-left: 30px;
      font-size: 1.3em;
      li {
        padding-left: 10px;
        color: white;
      }
    }
    #cart {
      svg {
        color: turquoise;
      }
    }
  }
}
